<html>
  <head>
	{% load import %}
	{% all_stylesheets %}
  </head>
  <body>
	{% include "_user_navigation.html" %}

    <h1>Newest entries</h1>
    {% load aggregates %}
    {% aggregatefeeds limit=5 %}
	<h1>Static Content</h1>
	<h2>Vergangene Projecte</h2>
	<div style="border: solid 1px; padding: 10px; margin: 5px;">
	{% static_content "Vergangene Projecte" %}
	</div>
	<h2>SemiNare</h2>
	<div style="border: solid 1px; padding: 10px; margin: 5px;">
	{% static_content "SemiNare" %}
	</div>
	<h2>Sponsors</h2>
	<div style="border: solid 1px; padding: 10px; margin: 5px;">
	{% static_content "current c-base landing page" %}
	</div>
  </body>
</html>
